@model Eksponent_Fall2016.Models.EmployeeSkillViewModel
@using Eksponent_Fall2016.Models

@{
    ViewBag.Title = "GetEmployeeSkills";
}

<h2>GetEmployeeSkills</h2>

@if (Model.eSkillList == null)
{
    <h2>Currently you have no employees register within your company</h2>
    
}
<table class="table">
    <tr>
        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Skill Name")
        </th>
        <th>
            @Html.Label("Experience Level")
        </th>
        <th></th>
    </tr>
   
    @foreach (var item in Model.eSkillList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skillname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeSkillId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeSkillId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeSkillId })
            </td>*@
        </tr>
    }

</table>
