@model IEnumerable<Eksponent_Fall2016.Models.EmployeeSkill>

@{
    ViewBag.Title = "GetEmployeeSkills";
}

<h2>GetEmployeeSkills</h2>

<p>
    @Html.ActionLink("Go back", "GetSkills")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Skill.Skillname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Level)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Firstname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Skill.Skillname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeSkillId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeSkillId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeSkillId })
            </td>
        </tr>
    }

</table>
