@model Eksponent_Fall2016.Models.Company

@{
    ViewBag.Title = "Index";
}

<h2>YOUR PROFILE</h2>

<link href="~/Content/Custom.css" rel="stylesheet" />
<p>
    @Html.ActionLink("Create Set of Skills", "Create")
</p>
<div id="hello"></div>
<div><a id="joinGroup" myAttrJoin =" 0">Press here to create your work group!</a></div>
<div><button id="leaveGroup">Leave group</button></div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyLogo)
        </th>
        <th>
           Skills
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.CompanyDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.CompanyLogo)
        </td>
        <td>
           @foreach (var i in Model.ISkill)
           {
            <p>@Html.DisplayFor(modelItem => @i.Skillname)</p>
           }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=Model.CompanyId }) |
            @Html.ActionLink("Details", "Details", new { id=Model.CompanyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.CompanyId })
        </td>
    </tr>

</table>
@section Scripts{
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        var myHub = $.connection.myHub;

        myHub.client.hello = function (data) {
            $("#hello").append("<div>Hello <strong>"+data.Name+" </strong> here are all your group connections -- With id:" + data.CId+"</div>");
        }

        myHub.client.message = function (message) {
            alert(message);
        }

        $.connection.hub.start().done(function () {
            myHub.server.hello();
            });

        $("#joinGroup").click(function () {
            var pressed = $(this).attr("myAttrJoin");

            if (pressed == 0) {
                myHub.server.joinGroup("@Model.CompanyName");
                console.log("join");
                $(this).hide();
                $(this).attr("myAttrJoin",1);
            }

        });

        $("#leaveGroup").click(function () {
            var pressed = $("#joinGroup").attr("myAttrJoin");

            if (pressed == 1) {
                $("#joinGroup").show();
                $("#joinGroup").attr("myAttrJoin",0);
            }
            myHub.server.leaveGroup("@Model.CompanyName");
            console.log("join");

        });

    </script>
}


