@model IEnumerable<Eksponent_Fall2016.Models.SkillFocus>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("First Name")
        </th>
        <th>
            @Html.Label("Skill Name")
        </th>
        <th>
            @Html.Label("Start Date")
        </th>
        <th>@Html.Label("End Date")</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Skill.Skillname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Startdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enddate)
        </td>
        <td>
     
            @Html.ActionLink("Details", "Details", new { id=item.SkillFocusId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkillFocusId })
        </td>
    </tr>
}

</table>
