@model IEnumerable<Eksponent_Fall2016.Models.Skill>
@{
    ViewBag.Title = "EmployeeSkills";
}

<h2>Skills at @ViewBag.Company </h2>
@foreach(var skill in Model)
{
    <div>Skill Name: @Html.DisplayFor(model => skill.Skillname)</div>
    <div>Skill Description: @Html.DisplayFor(model => skill.Skilldescription)</div>
    
}
<div>@Html.ActionLink("Add a skill i already know", "AddSkill")</div>
<div>@Html.ActionLink("Add a skill i want to focus on", "FocusSkill")</div>